<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="iiwa_interface" params="name prefix robot_ip fri_port use_sim">

    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_sim}">
        <hardware>
          <plugin>robot_interface/iiwa/IiwaInterface</plugin>
          <param name="robot_ip">${robot_ip}</param>
          <param name="fri_port">${fri_port}</param>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">${-joint_limit_1}</param>
          <param name="max">${joint_limit_1}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_1}</param>
          <param name="max">${max_velocity_1}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_1}</param>
          <param name="max">${max_effort_1}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">-${-joint_limit_2}</param>
          <param name="max">${joint_limit_2}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_2}</param>
          <param name="max">${max_velocity_2}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_2}</param>
          <param name="max">${max_effort_2}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint3">
        <command_interface name="position">
          <param name="min">-${-joint_limit_3}</param>
          <param name="max">${joint_limit_3}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_3}</param>
          <param name="max">${max_velocity_3}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_3}</param>
          <param name="max">${max_effort_3}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint4">
        <command_interface name="position">
          <param name="min">-${-joint_limit_4}</param>
          <param name="max">${joint_limit_4}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_4}</param>
          <param name="max">${max_velocity_4}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_4}</param>
          <param name="max">${max_effort_4}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint5">
        <command_interface name="position">
          <param name="min">-${-joint_limit_5}</param>
          <param name="max">${joint_limit_5}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_5}</param>
          <param name="max">${max_velocity_5}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_5}</param>
          <param name="max">${max_effort_5}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint6">
        <command_interface name="position">
          <param name="min">-${-joint_limit_6}</param>
          <param name="max">${joint_limit_6}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_6}</param>
          <param name="max">${max_velocity_6}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_6}</param>
          <param name="max">${max_effort_6}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}joint7">
        <command_interface name="position">
          <param name="min">-${-joint_limit_7}</param>
          <param name="max">${joint_limit_7}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">${-max_velocity_7}</param>
          <param name="max">${max_velocity_7}</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">${-max_effort_7}</param>
          <param name="max">${max_effort_7}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>